
    <footer class="section section-warning">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>That's _why!</h1>
            <div class="footer-col footer-col-3">
              <p>{{ site.description }}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="https://deepmind.com/alpha-go.html"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="https://twitter.com/folgerlibrary?lang=en"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="https://www.ijm.org/"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="http://github.com/thePaulista"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="https://deepmind.com/alpha-go.html"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="https://twitter.com/folgerlibrary?lang=en"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="https://www.ijm.org/"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="https://github.com/thePaulista"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
 

